<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- component scan -->
    <context:component-scan base-package="com.phpbae.web.business, com.phpbae.web.dao"></context:component-scan>


    <!--spring-jdbc 의존성 추가.-->
    <!--data source-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/test?useSSL=false&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC"></property>
        <property name="username" value="root"></property>
        <property name="password" value="1234"></property>
    </bean>

    <!-- BeanLifeCycleTest -->
    <bean id="beanLifeCycleTest" class="com.phpbae.web.business.service.BeanLifeCycleTest" init-method="initMethod"
          destroy-method="destroyMethod" scope="singleton">
    </bean>

</beans>