<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <!-- annotation driven -->
    <mvc:annotation-driven/>

    <!--@Transational을 유효하게 만드는 설정-->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"></tx:annotation-driven>

    <!-- component scan -->
    <context:component-scan
            base-package="com.phpbae.web.business, com.phpbae.web.dao, com.phpbae.web.config"></context:component-scan>


    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>


    <!--spring-jdbc 의존성 추가.-->
    <!--data source-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/test?useSSL=false&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC"></property>
        <property name="username" value="root"></property>
        <property name="password" value="1234"></property>
    </bean>

    <!-- Enable Annotation based Declarative Transaction Management -->
    <tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"/>

    <!--transaction advice-->
    <tx:advice id="transactionAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*" propagation="REQUIRED" isolation="DEFAULT" rollback-for="Exception"></tx:method>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:advisor advice-ref="transactionAdvice"
                     pointcut="execution(* com.phpbae.web.business.service..*.*(..))"></aop:advisor>
    </aop:config>

    <!-- BeanLifeCycleTest -->
    <bean id="beanLifeCycleTest" class="com.phpbae.web.business.service.BeanLifeCycleTest" init-method="initMethod"
          destroy-method="destroyMethod" scope="singleton">
    </bean>

</beans>